In [3]:
from datetime import datetime
from datetime import timedelta

In [4]:
datetime.now()

datetime.datetime(2020, 2, 3, 10, 35, 5, 422160)

In [7]:
datetime.now()+timedelta(days=23,seconds=5678)

datetime.datetime(2020, 2, 26, 12, 12, 42, 593092)

In [9]:
datetime(2020,1,31)

datetime.datetime(2020, 1, 31, 0, 0)

In [13]:
day1='january-31-2020'
print(datetime.strptime(day1,'%B-%d-%Y'))

2020-01-31 00:00:00

In [23]:
[i for i in range(1,11) if (i%2==0)]

[2, 4, 6, 8, 10]

In [36]:
[day is 'january-31-2020',print(datetime.strptime(day,'%d:%B:%Y'))]

NameError: name 'day' is not defined

In [39]:
dates=['11:december:2015','17:may:2020']
[datetime.strptime(i,'%d:%B:%Y')for i in dates]

[datetime.datetime(2015, 12, 11, 0, 0), datetime.datetime(2020, 5, 17, 0, 0)]

In [40]:
help(datetime.strftime)

Help on method_descriptor:

strftime(...)
    format -> strftime() style string.

In [43]:
day1=datetime.now()
day1.strftime('%d,%B,%Y')

'03,February,2020'

In [44]:
import numpy as np
import pandas as pd

In [58]:
a=pd.DataFrame(np.random.randint(6),columns=['value'],index=['2-Feb-2020','3-Mar-2020','4-Apr-2020','5-May-2020','6-Jun-2020','7-July-2020'])
a

             value
2-Feb-2020       4
3-Mar-2020       4
4-Apr-2020       4
5-May-2020       4
6-Jun-2020       4
7-July-2020      4

In [59]:
e=a.index[2]
e

'4-Apr-2020'

In [63]:
a=datetime.now()
a.timestamp()

1580711986.490464

In [87]:
date=pd.date_range(start='01-january-2000',periods=10000)
date

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10',
               ...
               '2027-05-09', '2027-05-10', '2027-05-11', '2027-05-12',
               '2027-05-13', '2027-05-14', '2027-05-15', '2027-05-16',
               '2027-05-17', '2027-05-18'],
              dtype='datetime64[ns]', length=10000, freq='D')

In [102]:
a=pd.Series(np.random.randint(low=1,high=100,size=10000),index=date)
a

2000-01-01     5
2000-01-02    99
2000-01-03    40
2000-01-04    32
2000-01-05    61
2000-01-06    91
2000-01-07    73
2000-01-08    66
2000-01-09    17
2000-01-10    78
2000-01-11     1
2000-01-12    80
2000-01-13    91
2000-01-14    12
2000-01-15    51
2000-01-16    58
2000-01-17    95
2000-01-18     6
2000-01-19    17
2000-01-20     2
2000-01-21    24
2000-01-22     9
2000-01-23    78
2000-01-24    51
2000-01-25    44
2000-01-26    18
2000-01-27    39
2000-01-28    42
2000-01-29    96
2000-01-30    74
              ..
2027-04-19    78
2027-04-20    21
2027-04-21    62
2027-04-22    74
2027-04-23    80
2027-04-24    72
2027-04-25    62
2027-04-26     5
2027-04-27    49
2027-04-28    65
2027-04-29    46
2027-04-30    16
2027-05-01    35
2027-05-02    54
2027-05-03    56
2027-05-04    86
2027-05-05    45
2027-05-06    17
2027-05-07    25
2027-05-08    81
2027-05-09    21
2027-05-10    16
2027-05-11    32
2027-05-12     5
2027-05-13    83
2027-05-14    50
2027-05-15    12
2027-05-16     9
2027-05-17    64
2027-05-18    41
Freq: D, Length: 10000, dtype: int32

In [104]:
a['2001-12-10']

59

In [105]:
from pandas.tseries.offsets import Day,MonthEnd

In [106]:
now=datetime.now()
now

datetime.datetime(2020, 2, 3, 12, 54, 58, 99949)

In [108]:
now=datetime(2020,2,3)
now

datetime.datetime(2020, 2, 3, 0, 0)

In [109]:
now+(2*Day())

Timestamp('2020-02-05 00:00:00')

In [116]:
now+(4*MonthEnd())

Timestamp('2020-05-31 00:00:00')